h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em;
    text-align: center;
    align-self: center;
    text-decoration: underline 3px black;
}
a {
    color: var(--existant);
    text-decoration: none;
}

a.non-existant {
    color: var(--nonexistant);
}

.existant {

}

.existant:visited {
    color: var(--existant);
}

/*Buttons*/
.back {
    float:left;
}

.edit {
    float: right;
}

hr {
    border: 0;
    border-top: 1px solid var(--border-light);
    margin: 1px;
}

.content_container {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.text {
    margin: 1em;
    padding: 1em;
    width: 60%;
    align-self: center;
    background-color: var(--text-box);
    border-radius: 5px;
    box-shadow: #00000008 10px 10px 10px 10px;
    font-size: larger;
}


h2 {
    font-size: 2em;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 5px;
}