#title {
    font-size: 3em;
    margin: 0;
    padding: 1em;
    text-align: center;
    align-self: center;
    font-family: "EB Garamond";
}

.existant {
    color: var(--existant);
    text-decoration: none;
}

.non-existant {
    color: var(--nonexistant);
}

.existant:visited {
    color: var(--existant);
}

#article_table tbody tr:not(#article_table tbody tr:first-child):nth-child(even){
    background: rgba(0, 0, 0,0.05);
}
#article_table tbody tr:first-child{
    background: rgba(255,255,255,0.3);
}

/*Buttons*/
/*.back {*/
/*    float: left;*/
/*}*/

/*.edit {*/
/*    float: right;*/
/*}*/

/*tables*/
#article_table {
    border: rgb(64,64,64) solid 2px;
    border-radius: 4px;
}

hr {
    border: 0;
    border-top: 1px solid var(--border-light);
    margin: 1px;
}

.content_container {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.text_box{
    padding: 12px;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 10px;
    min-width: 492px;
    width: 60%;
    align-self: center;
    font-size: larger;
}

@media only screen and (max-width: 700) {
    .text_box{
        padding: 12px;
        background-color: var(--background);
        box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 10px;
        min-width: 492px;
        max-width: 100%;
        width: 100% !important;
        align-self: center;
        font-size: larger;
    }
  }

.text_box:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text_box:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text_box:nth-child(even){
    background-color: var(--background-alternative);
}

h2 {
    font-size: 2em;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 5px;
}

#tags{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#tags-info{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.article_buttons{
    display: flex;
    justify-content: right;
}

.article_image{
    display: flex;
    justify-content: center;
}

.article_image img{
    max-width: 100%;
    width: 600px;
    height: min-content;
    transition: 0.33s ease-in-out;
    cursor: pointer;
}
