/*--Header--*/
#header {
    justify-content: space-between;
}

#function {
    display: flex;
    flex-direction: column;
    /*margin-left: auto;*/
}

#user_function {
    display: flex;
    flex-direction: row;
    wrap-option: wrap;
    float: right;
}

#user_function a {
    margin-left: 0;
    margin-right: 10px;
}

#new_page_icon{
    transform: translate(-35.868043,-9.5118024);
}

/*Header -> Searchbar*/
.search_form{
    border: 2px solid var(--text-box);
    border-radius: 25px;
    background-color: var(--background);
}

input[type=search] {
    width: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: var(--text-color);
    background-color: transparent;
    background-image: url("../images/search.svg");
    background-position: 10px center; /* Add 10px of padding to the left */
    background-size: 22px 22px; /* Set the size of the background image */
    background-repeat: no-repeat;
    padding: 12px 0 12px 44px;
    transition: width 250ms ease-in-out, background-color 500ms ease-in-out, border-radius 250ms ease-in-out;
    cursor: pointer;
}

input[type=search]:focus {
    width: 212px;
    border: 2px solid var(--border-light);
    background-color: var(--textarea);
    outline: none;
    cursor: text;
    border-radius: 25px;
}

.search {
    width: auto;
    float: right;
    margin: 0.5em 0.5em 8px auto;
}

.search form label input {
    height: 45px;
}

#categories{
    padding: 4px;
    display: flex;
    align-items: center;
}

#categories form{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: max-content;
    flex-wrap: wrap;
    min-height: max-content;
}


/*--Contents--*/
#text {
    /*margin-left: 2em;*/
    display: flex;
    flex-direction: column;
    /*margin-left: auto;*/
    float: right;
    align-content: center;
    justify-content: center;
}

#text h1 {
    margin: 0;
}

/*Mobile Portrait*/
@media only screen and (max-width: 600px)  {
    .header_item:not(:last-child){
        display: none;
    }

    #header {
        justify-content: right;
        width: 98%;
    }

    #user_function {
        width: 100%;
        padding: 3px;
    }

    input[type=search]:focus {
        width: calc(100vw/2.3);
    }

}

/*Page buttons*/
.pagination_button {
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    /*background-color: #e6e6e6;*/
    color: var(--text-color);
    /*border: 1px solid #ccc;*/
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination_button:hover {
    background-color: #ccc;
}

.pagination_button.active {
    background-color: var(--background-alternative);
}

.pagination_container {
    display: flex;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
