@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Gloock&display=swap');
:root {
    /*main*/
    --background: antiquewhite;
    --background-alternative: rgb(232, 218, 200);
    --button: hsl(240, 23%, 3%);; /*green: #4caf50*/
    --button-hover: hsl(240, 23%, 3%); /*#409243*/
    --dark: rgb(38, 38, 38);
    --button-text: white; /*white*/
    --nonexistant: #dc1f42;
    --existant: rgb(84, 82, 224);
    --text-color: rgba(0, 0, 0, 0.8);
    /*article*/
    --border-light: #999;
    --text-box: #d3c8ba;
    --textarea: #fdf3e5;
    --background-lines: #d3c8ba;
    --link: rgb(77, 31, 169);
    --link_visited: rgb(169, 31, 93);

/*    other variables*/
    --max_device_width: 740px;
}

html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    background-color: var(--background);
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    background-blend-mode: difference;
}

.title{
    font-family: "EB Garamond";
    font-size: 2.5em;
    letter-spacing: 8px;
}

input:focus {
    outline: none;
}

p{
    margin: 0;
}

/*--Page--*/
#header {
    display: flex;
}

.header_item{
    flex-basis: 33.33%;
    display: flex;
}

.header_item:nth-child(1){
    justify-content: left;
}
.header_item:nth-child(2){
    justify-content: center;
}
.header_item:nth-child(3){
    justify-content: right;
}

.nav_box {
    padding: 12px;
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.2) 5px 10px 10px;
    min-width: 492px;
}

.nav_box:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav_box:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav_box:nth-child(even){
    background-color: var(--background-alternative);
}

a{
    color: black;
    text-decoration: none;
}

/*Buttons*/
.button {
    background-color: var(--background-alternative);
    color: var(--dark);
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0.5em;
    text-decoration: none;
    transition: background-color 200ms, color 200ms;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel{ /*cancel button border*/
    border: 1px solid black;
}

.cancel-alt{
    background: var(--background)
}

.alt-border{ /*alt background colour*/
    background: var(--background);
    border: 1px solid var(--background);
}

.button:hover {
    background-color: var(--button-hover);
    color: white;
}

.delete_btn {
    background-color: var(--nonexistant);
}

.delete_btn:hover{
    background-color: var(--button-hover);
}

a.icon{
    width: 22px;
    height: 22px;
    padding: 12px;
}

button{
    padding: 12px;
}

.button path{
    transition: 0.2s ease-in-out;
}

.button:hover path{
    fill: white!important;
}

.btn_image{
    width: 100%;
}



/*Tables*/

table {
    margin-top: 25px;
    border-collapse: collapse;
    /* min-width: max-content; */
    border-radius: 12.5px; 
    font-size: 1.2em;
}

table, th, td {
    text-align: left;
    padding: 6px;
}

table tr:first-child *{
    background: none;
}

tr :last-child{
    text-align: right;
}

table th {
    background-color: var(--border-light);
    font-weight: bold;
}

tr td a, tr td a:visited {
    text-decoration: none;
    color: var(--link);
    transition: 100ms ease-in-out;
}

tr td a:hover, tr td a:visited:hover{
    color : var(--link_visited);
}


.hr_divider{
    width: 120%;
    margin-left: -10%;
    margin-block: 5px;
    border-bottom: 1.75px solid hsl(0, 0%, 25%);
}

.table_link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: left !important;
}

/*Images*/
img {
    width: 100%;
}

.logo {
    display: block;
    width: 122px;
    color: red;
    filter: invert();
}

/*Tags*/
.Tag{
    border: var(--background) 1.5px solid;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    margin-inline: 6px;
    margin-block: 1px;
    background-color: var(--background);
    padding: 4px;
    padding-inline: 7px;
    transition: color 200ms, background-color 200ms, box-shadow 400ms, border 200ms ease-in-out;
    font-size: 0.8em;
}

.Tag:hover {
    cursor: pointer;
    border: var(--button-hover) 1.5px solid;
}
.pressed {
    background-color: var(--button);
    color: white;
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

/*input*/
.input_new_text{
    background: none;
    border: none;
    border-bottom: 1px solid var(--dark) !important;
    border-radius: 0px;
    font-family: sans-serif;
}

input[type="text"], input[type="password"],
textarea {
    width: 97%;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 1.25em;
    border: none;
    background-color: var(--textarea);
}

.page_title{
    font-size: 1.5em !important;
    font-weight: bold !important;
}

input[type="text"].input_title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 12.5px !important;
}


textarea.input_text {
    height: 200px;
    resize: vertical;
    background-color: var(--textarea);
}

.text_segment > p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.input_user_handling{
    width: max-content !important;
}

.recent_articles_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.recent_articles_title{
    font-size: 2em;
    margin-left: -10%;
    margin-top: 50px;
    color: hsl(0, 0%, 30%);
}


.scroll{
    position: fixed; 
    bottom: 3%;
    right: 3%;
    width: max-content;
}

.button_alternate .button:hover:not(.delete_btn){
    background-color: var(--button-hover) !important;
}

.button_alternate:nth-child(even) .button:not(.delete_btn){
    background: var(--background);
}

.button_alternate:nth-child(even) .cancel:not(.delete_btn){
    background: var(--background-alternative);
}

.button_alternate:nth-child(odd) .cancel:not(.delete_btn){
    background: var(--background);
}

.quick_guide_container{
    position: fixed;
    right: 5%;
    top: 10%;
    background: var(--background);
    padding: 10px;
    border-radius: 5px;
    transform: rotateZ(4deg);
}
.quick_guide_container span{
    margin-inline: 5px;
}

.quick_guide_container div, .quick_guide_container p{
    margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
    .quick_guide_container{
        display: none;
    }
  }

@media only screen and (max-width: 1200px) {
    .quick_guide_container{
        display: none;
    }
  }

@media only screen and (max-width: 600px){
    body {
        margin: 0;
        padding: 0;
        background-image: none;
        background-color: var(--background-lines);
        overflow: hidden;
    }

    .nav_box {
        min-width: 0;
        width: 100%;
    }

    .recent_articles_title{
        margin: 0;
        width: fit-content;
    }

    table{
        width: 95%;
    }
}
