#header {
    justify-content: space-between;
}

#user {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user p {
    margin-left: 12px;
}

#user p:first-letter {
    text-transform: capitalize;
}

#user img {
    width: 45px;
    height: 45px;
    border: var(--border-light) solid 2px;
    border-radius: 50%;
    background-color: var(--text-color);
    object-fit: cover;
}

#controls {
    display: block;
}

#controls a{
    display: inline-block;
}

/*Change Password*/
#pwd_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-screen h2 {
    width: fit-content;
}

#input {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="password"], input[type="text"]{
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border-radius: 0px;
    font-size: 1.25em;
    background: none;
}

.user_name_text{
    color: hsl(0, 0%, 20%);
    font-size: 1em;
}

.user_name{
    padding: 4px !important;
    font-size: 1.5em !important;
    background: var(--background) !important;
}

.content_container{
    width: 100%;
    align-items: start !important;
}

.articles_margin_inline{
    margin-inline: 5%;
}


/*Mobile Portrait*/
@media only screen and (max-width: 600px) {
    .nav_box {
        width: 100%;
    }

    #controls {
        margin-right: 5vw;
    }

    .flex-center {
        flex-direction: column;
    }

    .recent_articles_container{
        margin: 0;
    }
}